<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<!-- FIXME: Fix navbar: Dropdown menu doesn't properly list its options.-->

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Yelp Camp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/campgrounds">Home<span class="sr-only">(current)</span></a>
            </li>
            <% if (!signedUser) {%>
            <li class="nav-item">
                <a class="nav-link <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register">Register</a>
            </li>
            <% } else {%>
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="#">Signed In As <strong><%= signedUser.username %></strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"href="/logout">Logout</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>

<% if (error && error.length > 0) {%>
    <div class="container flash-text">
        <div class="alert alert-danger" role="alert">
            <span><%= error %></span>
        </div>
    </div>
<% }%>
<% if (success && success.length > 0) {%>
    <div class="container flash-text">
        <div class="alert alert-success" role="alert">
            <span><%= success %></span>
        </div>
    </div>
<% }%>
    <div class="container">