<!--TODO:  Integrate the comment-add page to the main show page.-->

<!--TODO: Add Profile functionality:
Let users change their name,see all their postings, and possibly even see a news feed of all their followed posters to see what they're posting.-->
<% include ../partials/header.ejs %>
<div class="row">
    <div class="col-md-3">
        <p class="lead">YelpCamp</p>
        <!--TODO: Look into possibly animating this list. Have it slide down and reveal itself on the page.-->
        <!--TODO: Find out what information I can put in here also.-->
        <ul class="list-group" id="show-list">
            <li class="list-group-item">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </ul>
        <div id="map"></div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <img class="img-fluid card-img-top" id="card-image" src="<%= campground.image %>" alt="Card Image Cap">
            <div class="caption card-text">
                <h4 class="float-right">$<%= campground.price %>/night</h4>
                <h4><a href="#"><%= campground.name %></a></h4>
                <p><%= campground.description %></p>
                <p>
                    <em>
                        Submitted By:
                        <%= campground.author.username %>,
                        <%= moment(campground.CreatedAt).fromNow() %>
                    </em>
                </p>
                <% if (signedUser && campground.author.id.equals(signedUser._id)) {%>
                    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning right-btn">Edit</a>
                    <form class="right-btn" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <!--TODO: Add extra dialog box for confirmation of delete.-->
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                <% } %>
            </div>
            <div class="card-footer">
                <div class="text-right">
                 <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
            </div>
            <% campground.comments.forEach((comment) => { %>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right"> <%= moment(comment.createdAt).fromNow() %> </span>
                            <p><%= comment.text %></p>
                            <% if (signedUser && comment.author.id.equals(signedUser._id)) { %>
                                <a href="/campgrounds/<%= campground._id%>/comments/<%= comment._id %>/edit"
                                   class="btn btn-sm btn-warning right-btn">Edit</a>
                                <form class="right-btn" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
<!--Map Initiation Script. -->
<!--Takes the Latitude and Longitude of the given campground location and sets them as the initial-->
<!--positions in the google map display.-->
<script>
    function initMap() {
        let lat = <%= campground.lat %>;
        let lng = <%= campground.lng %>;
        let center = {lat: lat, lng: lng };
        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        let contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
        let infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        let marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<!--Google Maps Script Inclusion-->
<script async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu1zlENQwUeiLGSFh3fLFCY9_rxa-9kxE&callback=initMap">
</script>
<!--Footer Section-->
<% include ../partials/footer.ejs %>